* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	color: #000;
	font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, EucrosiaUPC, Arial, Helvetica, sans-serif;
}
body{
  padding-right:0 !important;
}
/*
高亮颜色:#ec5051

*/

body {
	background: #f4f4f4;

}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

button {
	outline: none;
	border: 0px;
}

li {
	list-style: none;
}

input::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #DEDEDE;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #DEDEDE;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #DEDEDE;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #DEDEDE;
}


