* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	color: #000;
	font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, EucrosiaUPC, Arial, Helvetica, sans-serif;
}
body{
  padding-right:0 !important;
}
/*
高亮颜色:#ec5051

*/

body {
	background: #f4f4f4;

}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

button {
	outline: none;
	border: 0px;
}

li {
	list-style: none;
}

input::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #DEDEDE;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #DEDEDE;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #DEDEDE;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #DEDEDE;
}



.Crumbs {
	width: 1200px;
	margin: 15px auto 0;
	overflow: hidden;
}

.Crumbs li {
	display: inline-block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	cursor: pointer;
}

.Crumbs li:first-child {
	margin-top: 1px;
}

.Crumbs li a {
	font-size: 12px;
}

.Crumbs li span {
	padding: 0 3px;
}

.Crumbs li:last-child a {
	color: #999;
}

.text-center {
	text-align: center;
}

.marT-10 {
	margin-top: 10px;
}

.marL-10 {
	margin-left: 20px;
}

.marB-5 {
	margin-bottom: 5px;
}

.con-auto {
	overflow: hidden;
	margin: 0 auto 20px;
	width: 1200px;
}

.con-rela {
	position: relative;
	width: 100%;
}

.write-bg {
	width: 100%;
	background: #fff;
}

.breadcrumb {
	margin: 10px auto;
	width: 1200px;
	font-size: 12px;
	color: #666;
}

.breadcrumb a {
	font-size: 12px;
}

.breadcrumb span {
	font-size: 12px;
	font-weight: bold;
}

/*#lanPos{
	width:100%;
	height:50px;
	line-height:50px;
	background:#ec5051;
	color: #fff;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	transition:top .2s;}*/

/*
特殊字体颜色
*/
.red-color {
	color: #cf1a04;
}

.green-color {
	color: #70ae4e;
}

.gray-color {
	color: #666;
}

h2 {
	width: 100%;
	font-size: 24px;
	color: #000;
	line-height: 70px;
	text-align: center;
}

.more-link {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	color: #666;
}

.contwarp {
	width: 1200px;
	margin: 15px auto 30px;
}

/* Left nav */
.administer_cont {
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
}

.right_cont {
	float: left;
	width: calc(100% - 175px);
}

.article {
	padding: 0 20px 20px;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
}

.descbox {
	margin-top: 45px;
	text-align: center;
	min-height: 600px;
	overflow: hidden;
}

.aside {
	width: 160px;
	text-align: center;
	background: #efefef;
	color: #000;
	font-size: 16px;
	margin-right: 15px;
	float: left;
}

.aside li {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #fff;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index: 999;
}

.aside li.active,
.aside li:hover {
	color: #fff;
}

.aside li:last-child {
	border-bottom: none;
}

.tit {
	color: #666;
	font-size: 16px;
	text-align: left;
	border-bottom: 2px solid #ec5051
}

.left-nav-public {
	position: relative;
}

.left-nav-public li {
	position: relative;
	z-index: 2;
}

.left-nav-public li:before {
	position: absolute;
	left: 0;
	content: '';
	width: 0;
	background: #ec5051;
	height: 100%;
	z-index: -1;
	transition: all .3s linear;
	-webkit-transition: all .3s -webkit-transform linear;
	-moz-transition: all .3s -moz-transform linear;
}

.left-nav-public li:hover:before {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	background: #ec5051;
	height: 100%;
}

.left-nav-public li a {
	display: block;
	width: 100%;
}

.left-nav-active {
	display: block;
	width: 100%;
	height: 55px;
	color: #fff;
	background: #ec5051;
	box-sizing: border-box;
}

/* 按钮 */
.btn {
	height: 42px;
	line-height: 42px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	min-width: 70px;
	padding: 0 30px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	transition: all .3s linear;
	-webkit-transition: all .3s -webkit-transform linear;
	-moz-transition: all .3s -moz-transform linear;
}

.col_014099:hover {
	background: none;
	color: #014099;
}

.col_014099 {
	background: #014099;
	border: 2px solid #014099;
}

.col_ec5051 {
	background: #ec5051;
	border: 2px solid #ec5051;
}

.col_ec5051:hover {
	background: none;
	color: #ec5051;
}

.col_aaa {
	background: #aaaaaa;
	border: 2px solid #aaaaaa;
}

.col_aaa {
	background: #aaa;
}

.col_aaa:hover {
	background: #dedede;
	color: #333;
}

.colec5051 {
	color: #ec5051;
	border: 2px solid #ec5051;
}

.colec5051:hover {
	background: #ec5051;
	color: #fff;
}

/*服务分类列表*/

.server-pro-box {
	position: relative;
	float: left;
	height: 200px;
	background: #fdfdfd;
	border: 1px solid #f4f3f3;
	text-align: left;
	-webkit-transition: all ease .2s;
	transition: all ease .2s;
	cursor: pointer;
	/* border:1px transparent solid;
    border-image:linear-gradient(to bottom,#d1e0eb,#deede6) 1 100; */

}
.server-pro-box a{
  display: block;
  width: 100%;
  height: 100%;
}
.s-w318 {
	margin: 0 0 10px 10px;
	padding: 8px 9px;
	width: 310px;
}

.s-w480 {
	margin: 10px;
	padding: 8px 15px;
	width: 440px;
	/* box-shadow: 0px 0px 10px #d4d4d4; */
	box-shadow: 0px 0px 10px 0px #edeaea;
}

.server-pro-box .tool-box {
	position: absolute;
	font-size: 14px;

}

.s-w318 .tool-box {
	bottom: 15px;
	left: 0px;
}

.s-w480 .tool-box {
	left: 20pxpx;
	bottom: 20px;
}

.empty-tit {
	display: block;
	margin: 10px auto 0;
	width: 280px;
	height: 360px;
	background: url(../../src/assets/img/empty_bg.png) no-repeat;
}

.server-pro-box:hover {
	box-shadow: 2px 2px 10px #9999;
	border: 1px solid #cf9797;

}

.server-pro-box .recommend{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 40px;
	height: 40px;
	background: url(../../src/assets/index/icon_recommend.png) no-repeat;
}

.server-pro-box .top-box {
	overflow: hidden;
	width: 100%;

}

.server-pro-box .top-box img {
	float: left;
	margin-top: 8px;
	width: auto;
	height: 30px;

}

.server-pro-box .top-box p {
	float: left;
	margin-left: 10px;
	font-size: 16px;
	line-height: 50px;
  line-height: 25px;
  margin-top: 10px;
}

.server-pro-box .pro-introduce {
	overflow: hidden;
	margin: 5px;
	font-size: 13px;
	line-height: 18px;
}

.server-pro-box .slogan {
	margin-left: 5px;
	font-size: 14px;
	line-height: 30px;
	color: #2794cd;
	width: 100%;
	text-align: left;
}

.server-pro-box .price {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 22px;
	color: #e41517;
	letter-spacing: 0px;
	font-weight: bold;
	line-height:20px;
	text-align: left;
}

.server-pro-box .price span {
	font-size: 12px;
	color: #999;
	letter-spacing: 0;
}
.server-pro-box .price span em{
  font-size: 14px;
  color: #999;
  font-style: normal;
}

.server-pro-box .buy-btn,.server-pro-box .serv-btn  {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 90px;
	height: 28px;
	font-size: 14px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
}
.server-pro-box .buy-btn{
	background: #395a9b;
}
.server-pro-box .serv-btn{
	background: #397e9b;
}

.server-pro-box .buy-btn:before ,.server-pro-box .serv-btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 28px;
	background: #ec5051;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;


}

.server-pro-box .buy-btn:hover,.server-pro-box .serv-btn:hover {
	color: #fff;
}

.server-pro-box .buy-btn:hover:before {
	content: '立即购买';
	width: 90px;
}

.server-pro-box .serv-btn:hover:before {
	content: '进入服务';
	width: 90px;
}

.server-pro-box .buy-btn:active {
	background: #ec5051;
}




.server-pro-box .tool-box li {
	position: relative;
	float: left;
	margin: 0 10px 0 5px;
	padding-left: 20px;
	color: #999;
	line-height: 14px;
	cursor: pointer;

}

.server-pro-box .tool-box li:hover {
	color: #ec5051;
}

.server-pro-box .tool-box li:hover .span-bg1 {
	background-position: 0 -14px;
}

.server-pro-box .tool-box li:hover .span-bg2 {
	background-position: -14px -14px;
}

.server-pro-box .tool-box li:hover .span-bg3 {
	background-position: -28px -14px;
}

.server-pro-box .tool-box li:hover .span-bg4 {
	background-position: -42px -14px;
}

.server-pro-box .tool-box li span {
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	background: url(../../src/assets/index/pro_tool.png) no-repeat;
}

.server-pro-box .tool-box .span-bg1 {
	background-position: 0 0;
}

.server-pro-box .tool-box .span-bg2 {
	background-position: -14px 0;
}

.server-pro-box .tool-box .span-bg3 {
	background-position: -28px 0;
}

.server-pro-box .tool-box .span-bg4 {
	background-position: -42px 0;
}

/* 购物车步骤条  start*/
.stepwarp {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	width: 100%;
	overflow: hidden;
}

.stepwarp .stepitem {
	flex: 1;
	text-align: center;
	position: relative;
	width: 25%;
	float: left;
	overflow: hidden;
}

.stepwarp.shopstep .stepitem {
	width: 33.33%;
}

.stepwarp .stepitem:after {
	content: '';
	height: 1px;
	background: #e6e5e5;
	width: calc(50% - 13px);
	position: absolute;
	bottom: 13px;
	left: 0;
}

.stepwarp .stepitem:before {
	content: '';
	height: 1px;
	background: #e6e5e5;
	width: calc(50% - 13px);
	position: absolute;
	bottom: 13px;
	right: 0;
}

.stepwarp .stepitem.active:after,
.stepwarp .stepitem.active:before {
	background: #e60012;
}

.stepwarp .stepitem p {
	margin-bottom: 15px;
	color: #999;
	text-align: center;
}

.stepwarp .stepitem span {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	display: inline-block;
	padding: 4px;
	box-sizing: border-box;
}

.stepwarp .stepitem span i {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	background: #dcdcdc;
	font-style: normal;
	display: inline-block;
}

.stepwarp .stepitem.active span {
	border: 1px solid #e60012;
}

.stepwarp .stepitem.active span i {
	background: #e60012;
	color: #fff;
}

.stepwarp .stepitem.active p {
	color: #e60012;
}

/* 购物车步骤条  end*/

/*--相关的单选复选按钮--*/
@keyframes hover-color {
	from {
		border-color: #c0c0c0;
	}

	to {
		border-color: #3e97eb;
	}
}

.magic-radio,
.magic-checkbox {
	position: absolute;
	display: none;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
	cursor: not-allowed;
}

.magic-radio+label,
.magic-checkbox+label {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	vertical-align: middle;
}

.magic-radio+label:hover:before,
.magic-checkbox+label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color;
}

.magic-radio+label:before,
.magic-checkbox+label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border: 1px solid #c0c0c0;
}

.magic-radio+label:after,
.magic-checkbox+label:after {
	position: absolute;
	display: none;
	content: '';
}

.magic-radio[disabled]+label,
.magic-checkbox[disabled]+label {
	cursor: not-allowed;
	color: #e4e4e4;
}

.magic-radio[disabled]+label:hover,
.magic-radio[disabled]+label:before,
.magic-radio[disabled]+label:after,
.magic-checkbox[disabled]+label:hover,
.magic-checkbox[disabled]+label:before,
.magic-checkbox[disabled]+label:after {
	cursor: not-allowed;
}

.magic-radio[disabled]+label:hover:before,
.magic-checkbox[disabled]+label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none;
}

.magic-radio[disabled]+label:before,
.magic-checkbox[disabled]+label:before {
	border-color: #e4e4e4;
}

.magic-radio:checked+label:before,
.magic-checkbox:checked+label:before {
	animation-name: none;
}

.magic-radio:checked+label:after,
.magic-checkbox:checked+label:after {
	display: block;
}

.magic-radio+label:before {
	border-radius: 50%;
}

.magic-radio+label:after {
	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #3e97eb;
}

.magic-radio:checked+label:before {
	border: 1px solid #3e97eb;
}

.magic-radio:checked[disabled]+label:before {
	border: 1px solid #c9e2f9;
}

.magic-radio:checked[disabled]+label:after {
	background: #c9e2f9;
}

.magic-checkbox+label:before {
	border-radius: 3px;
}

.magic-checkbox+label:after {
	top: 2px;
	left: 7px;
	box-sizing: border-box;
	width: 6px;
	height: 12px;
	transform: rotate(45deg);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0;
}

.magic-checkbox:checked+label:before {
	border: #3e97eb;
	background: #3e97eb;
}

.magic-checkbox:checked[disabled]+label:before {
	border: #c9e2f9;
	background: #c9e2f9;
}

/*--相关的单选复选按钮--*/
/* 详情菜单start */
.menuwrapper {
	margin: 0 -20px;
}

.menuwrapper .menu-tab {
	overflow: hidden;
	z-index: 999;
	width: 1200px;
	display: flex;
	margin-bottom: 30px;
	transition: all .3s linear;
	-webkit-transition: all .3s -webkit-transform linear;
	-moz-transition: all .3s -moz-transform linear;
	position: relative;
	top: 0;

}

.menuwrapper .menu-tab.active {
	position: fixed;

}

.menuwrapper .menu-tab li {
	background: #f0f4fa;
	color: #666;
	height: 37px;
	line-height: 37px;
	border-right: 1px solid #e5e5e5;
	flex: 1;
	float: left;
	text-align: center;
	cursor: pointer;
	transition: all .3s linear;
	-webkit-transition: all .3s -webkit-transform linear;
	-moz-transition: all .3s -moz-transform linear;
	border-top: 2px solid transparent;
	width: 170.5px;
}

.menuwrapper .menu-tab li:last-child {
	border-right: none;
}

.menuwrapper .menu-tab li.active,
.menuwrapper .menu-tab li:hover {
	background: #fff;
	color: #333;
	border-top: 2px solid #ff4400;
}

/* 详情菜单end */
.formcont {
	width: 70%;
	margin: 0 auto;
}

.textarea textarea {
	min-height: 70px !important;
}

.el-button {
	color: #fff;
}

.el-button span {
	color: inherit;
}

.orderwarp {
	margin-bottom: 50px;
}

.orderwarp span {
	margin: 0 20px;
}

/* 表格头颜色start */
.table .el-table th {
	background: #f7f7f7;
}

.table .el-table {
	border-style: solid;
	border-color: #EBEEF5;
	border-width: 1px 1px 0 1px;
}

/* 表格头颜色end */
.mr20 {
	margin-right: 20px;
}

.Enter .navfixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1001;
	background: #5a5a5a;
	visibility: hidden;
}

.Enter .navfixed .nav-list li {
	color: #fff;
}

.Enter .offset {
	transform: translate(0, -100%);
	transition: all 1s ease-in-out;
}

.Enter .scrolling {
	visibility: visible;
	transform: translate(0, 0);
}
